.section2{
    display: flex;
width: 100%;
padding: 38px 0;
flex-direction: column;
align-items: flex-start;
gap: 1px;
}

.options{
    display: flex;
padding: 36px 157px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
background: #FFF;
box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
}

.actions{
    display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}

.apply{
    display: flex;
padding: 74px 241px;
flex-direction: column;
align-items: center;
gap: 50px;
align-self: stretch;
background: #FAFAFA;
}