*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.navbar{
    display: flex;
width: 100%;
padding: 15px 158px;
justify-content: center;
gap: 150px;
align-items: center;
background: #032D62;
}

.navlinks{
    display: flex;
padding: 26px 0;
align-items: center;
gap: 34px;
}