*{
margin: 0; padding: 0; box-sizing: border-box;
}

.newscard{
    display: flex;
height: 361px;
padding: 31px 0;
justify-content: center;
align-items: center;
gap: 30px;
border-top: 1px solid #B8BABC;
border-bottom: 1px solid #B8BABC;
}

.cardtxt2{
    display: flex;
width: 539.94px;
flex-direction: column;
align-items: flex-start;
gap: 17px;
}

.cardtxt2 p{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
}

.cardtxt2 h2{
    color: #1858A8;
font-family: Inter;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */
}