*{
    margin: 0;
    padding: 0;
}

.section5 {
    width: 100%;
    height: 560px;
    background: #1858A8;
    padding: 75px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec5_inside {
    width: 1110px;
    height: 410px;
    background-image: url('../assets/img3.png');
    padding: 0 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sec5_left {
    display: flex;
    width: 443px;
    height: 187px;
    border-top: 5px solid #F58420;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 48px;
    box-sizing: border-box;
    background: #FFF;
}

.sec5_h2 {
    color: #333;
font-family: Inter;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */
}

.sec5text {
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
}

.section6, .section8 {
    background: #FAFAFA;
    padding: 75px 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec6_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.logos_inside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.logos_div {
    display: flex;
    gap: 60px;
    flex-direction: row;
}

.section_7 {
    padding: 75px 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sec7_inside {
    height: 179px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sec7_tex1 {
    color: #333;
font-family: Inter;
font-size: 17.4px;
font-style: normal;
font-weight: 700;
line-height: 28.08px; /* 161.379% */
}

.sec7_tex2 {
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
}

.sec8_inside {
    display: flex;
    gap: 30px;
    width: 369px;
    height: 203px;
    padding: 30px 20px;
    align-items: flex-start;
    gap: 30px;
    border-radius: 6px;
    border-top: 1px solid rgba(231, 231, 231, 0.60);
    background: #FFF;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
}

.se8_texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.se8_texts h3 {
    color: #1858A8;
    font-family: Inter;
    font-size: 20.8px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 125% */
}

.se8_texts p {
    color: #333;
    font-family: Inter;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 166.667% */
    width: 235px;
}