*{
    box-sizing: border-box;
    margin: 0;
    padding: ;
    font-family: "Inter", sans-serif;
}

h4{
    color: #333;
text-align: center;
font-family: Inter;
font-size: 12.2px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 180.328% */
letter-spacing: 5px;
text-transform: uppercase;
}