*{
margin: 0; padding: 0; box-sizing: border-box;
}

.lcard{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
border-radius: 6px;
background: #FFF;
width: 351.99px;
overflow: hidden;
transition: all 0.3s ease;
cursor: pointer;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.lcard:hover{
scale: 1.1;
border: 2px solid #065BAA;}
.cardcont{
    display: flex;
width: 351.99px;
flex-direction: column;
align-items: center;
gap: 25px;
}

.cardcont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardtxt{
    display: flex;
width: 308px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.cardtxt h3{
    color: #1858A8;
font-family: Inter;
font-size: 20.8px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 125% */
}

.cardtxt p{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
}

.readmore{
    display: flex;
padding: 10px 20px;
align-items: center;
gap: 10px;
align-self: stretch;
background: #FAFAFA;
}

.readmore p{
    color: #333;
font-family: Inter;
font-size: 14.4px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 166.667% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}